
.not-found{
   background-color: whitesmoke;
   min-height: 97vh;
   position: relative;
}

.not-found img {
   float: left;
   margin-left: 0; 
}

.not-found .error-text {
   position:absolute;
   width: 200px;
   right: 50%;
   left: 51%;
   transform: translate(-50%, -50%)
   }